.footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 40px;
    padding-right: 25%;
    margin-top: 40px;
}
.footer__list
{
    padding-top: 20px;
    margin-bottom: 20px;
}
.footer__bullet
{
    font-size: 0.9em;
    margin-top: 10px;
}
@media all and (max-device-width: 768px) /* Version Iphone 8 */
{
    .footer
    {
        flex-direction: column;
        flex-wrap: wrap;
    }
}