.filter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 20px;
    flex-wrap: wrap;}
.filter_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #F2F2F2;
    border-radius: 40px;
    margin: 5px;
}
.filter_button:hover
{
    color: #0065FC;
}
.filter_button_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color:#DEEBFF;
    border-radius: 45px;
    height: 40px;
    width: 40px;
}
.filter_button_paragraphe, .filter_paragraphe
{
    font-weight: bold;
    padding: 10px;
}
.filter_result
{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.filter_result_paragraphe
{
    margin-left: 10px;
}
.filter_result_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    font-size: 0.7em;
}