.activity
{
    margin-top: 40px;
}
.activity__title
{
    padding-left: 40px;
}
.activity__container
{
    display: flex;
    justify-content: space-evenly;
}
.activity__column
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 21%;
}
.activity__card
{
    display: block;
    height: max-content;
    width: 21%;
    border-radius: 17px;
    box-shadow: 0px 0px 6px lightgray;
    margin-top: 20px;
}
.activity__card--in-column
{
    width: 100%;
}
.activity__image
{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    height: 350px;
}
.activity__image--fort-pomegues
{
    height: 150px;
}
.activity__image--iles-frioul
{
    height: 100px;
}
.activity__image--notre-dame-la-garde
{
    height: 120px;
}
.activity__image--parc-longchamp
{
    height: 140px;
}
.activity__name
{
    font-size: 0.9em;
    font-weight: bold;
    padding: 15px;
}
@media all and (max-width: 800px) /* Version tablette */
{
    .activity__container
    {
        flex-wrap: wrap;
    }
    .activity__card
    {
        width: 280px;
    }
    .activity__column
    {
        width: 280px;
    }
}
@media all and (max-width: 600px) /* Version mobile */
{
    .activity__card
    {
        width: 100%;
    }
    .activity__image
    {
        height: 100px;
        width: 100%;
    }
    .activity__column
    {
        width: 100%;
    }
    .activity__container
    {
        padding: 40px;
        flex-wrap: wrap;
    }
}