.accommodation
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    margin-top: 40px;
}
.accommodation__article
{
    border-radius: 17px;
    background-color: #F2F2F2;
    padding: 40px;
    width: 55%;
}
.accommodation__article--popular
{
    width: 22%;
    min-width: 200px;
}
.accomodation__title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accommodation__container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.accommodation__card
{
    display: block;
    height: 100%;
    width: 30%;
    min-width: 180px;
    max-width: 280px;
    border-radius: 17px;
    background-color: white;
    box-shadow: 0px 0px 6px lightgray;
    margin-top: 20px;
    padding: 4px;
}
.accommodation__card--popular
{
    width: 100%;
}
.accommodation__image
{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    height: 100px;
}
.accommodation__image--popular
{
    height: 120px;
    min-width: 40%;
    border-top-right-radius: 0px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.accommodation__description
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    margin-bottom: 10px;
}
.accommodation__description--popular
{
    margin-bottom: 0px;
    min-width: 55%;
}
.accommodation__name
{
    font-weight: bold;
    margin-bottom: 5px;
}
.accommodation__row_star
{
    display: flex;
}
.accommodation__row
{
    display: flex;
}
.accommodation__star
{
    margin-top: 5px;
    font-size: 0.7em;
}
.accommodation__star--color-blue
{
    color: #0065FC;
}
.accommodation__star--color-lightgray
{
    color: lightgray;
}
.accommodation__span
{
    font-weight: bold;
}
.accommodation_more
{
    display: block;
    width: max-content;
    margin-top: 25px;
}
@media all and (max-width: 800px) /* Version tablette */
{
    .accommodation
    {
        flex-wrap: wrap-reverse;
        margin-left: 0px;
    }
    .accommodation__article
    {
        width: 100%;
        background-color: white;
    }
    .accommodation__article--popular
    {
        border-radius: 0px;
        background-color: #F2F2F2;
    }
}
@media all and (max-width: 480px) /* Version mobile*/
{
    .accommodation
    {
        flex-wrap: wrap-reverse;
        margin-left: 0px;
    }
    .accommodation__article
    {
        background-color: white;
        padding: 40px;
        width: 100%;
    }
    .accommodation__article--popular
    {
        width: 100%;
        background-color: #F2F2F2;

    }
    .accommodation__row
    {
        display: flex;
        flex-direction: row;
    }
    .accommodation__image--popular
    {
        object-fit: cover;
        height: 120px;
        width: 120px;
        border-top-right-radius: 0px;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
    }
    .accommodation__description--popular
    {
        padding: 10px;
    }
    .accommodation__card
    {
        width: 100%;
        max-width: none;
    }
}